/*-- scss:rules --*/
.goals {
    margin: 1em 0;
    border: 2px solid gray;
    border-left: 10px solid teal;
    border-radius: 10px;
}

.goals-header {
    margin-left: 0em;
}

.goals-container {
    padding-top: 5px;
    padding-left: 10px;
    color: black;
    background-color: white;
    border-bottom-right-radius: 10px;
}